:root {
    --background: #EFEFEF;
    --border: #D414A1;
    --card: #EFEFEF;
    --button: #D414A1;
    --button-text: #FFBA10;
    --title: #D414A1;
    --text: #000;
}

.dark {
    --background: #2F2C2C;
    --border: #FFFFFF;
    --card: #5A0945;
    --button: #FFFFFF;
    --button-text: #D414A1;
    --title: #FFBA10;
    --text: #FFFFFF;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 29px;
   
    position: relative;
    margin: 29px 0;
}

.cards img {
    width: 100%;
}

.card__rigth, .card__left {
    display: flex;
    justify-content: space-between;
    gap: 18px;
 
    padding: 21px;
    height: 80%;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--card);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card__rigth {
    margin-right: 2%;
    border-top-right-radius: 30px;
    border-right: 1px solid var(--border);
}

.card__left {
    margin-left: 2%;
    border-top-left-radius: 30px;
    border-left: 1px solid var(--border);
}

.card__ultimate, .card__type {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;

    font-family: Poppins;
    font-size: 0.7rem;
    font-weight: 600;

    border-radius: 15px;
    background: var(--button);
    color: var(--button-text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__type {
    width: 90%;
}

.card__rigth .cards__ultimates {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    margin: 30px 0;
}

.card__left .cards__ultimates {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin: 20px 0;
}

.card__ultimate {
    width: 90%;
}

.card__tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    width: 100%;
}

.cards h3 {
    font-family: McLaren;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    
    color: var(--title);
}

.cards strong {
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 600;
    
    color: var(--title);
}

.cards p {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;

    color: var(--text);
}

.card__tags {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.card__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.card__tags img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1280px) {
    .card__type, .card__ultimate {
        font-size: 1.6rem;
        width: 70%;
    }

    .card__ultimate {
        font-size: 1.8rem;
    }

    .card__left, .card__rigth {
        padding: 40px;
    }

    .card__tags {
        margin-right: 5%;
    }

    .card__tags img{
        width: 80%;
        box-shadow: none;
        border-radius: 0;
    }

    .card__about h3 {
        font-size: 4rem;
    }

    .about strong, .card__self strong {
        font-size: 3rem;
    }

    .about p, .card__self p {
        width: 100%;
        font-size: 1.6rem;
    }
}