:root {
    --border: #9C1E24;
    --primary: #FFBA10;
    --secondary: #741537;
    --text: #000000;
}

.dark {
    --border: #FFBA10;
    --primary: #FFBA10;
    --secondary: #5A0945;
    --text: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 41px 0;
}

.container {
    display: flex;
    flex-direction: column;
    
    padding: 18px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;

    background-color: var(--secondary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.container__title h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;

    color: var(--primary);
}

.container__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 20px;
}

.container__content img{
    width: 30%;
}

.container__content p {
    width: 60%;

    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    color: var(--text);
}

@media (min-width: 1280px) {
    main {
        padding-top: 0;
    }
    
    .banner {
        display: block;
        background-image: url("../../assets/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;    
        height: 800px;
    }

    .container__title {
        height: 80px;
    }

    .container__title h2 {
        font-family: Poppins;
        font-size: 48px;
    }

    .container__content img{
        width: 18%;
    }

    .container__content p {
        font-family: Poppins;
        font-size: 28px;
        width: 70%;
        padding: 2%;
        line-height: 168%; 
        
        color: var(--text);
    }
}